@use "../abstract" as *;

.blog {
    &__img{
        & img{
            width: 100%;
        }
    }
    &__content{
        padding: 35px 30px;
        & h4{
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 10px;
        }
    }
}

.blog-meta{
    & span{
        font-size: 14px;
        margin-right: 10px;
        color: #666666;
        text-transform: uppercase;

        & a{
            color: $theme-color;
        }
    }
    & p {
        margin-top: 15px;
        padding-bottom: 10px;
    }
}

.read-more{
    border-top: 1px solid #dddddd;
    padding-top: 20px;
    & a {
        font-size: 13px;
        color: $black;
        font-weight: 700;
        @include transition(0.3s);
        &:hover{
            color: $theme-color;
        }
        & i {
            margin-left: 5px;
        }
    }
}

.pagination{
    & li{
        margin-left: 10px;
        &:first-child{
            margin-left: 0px;
        }
        & a {
            color: $theme-color;
            font-size: 20px;
            font-weight: 700;
            padding: 10px 20px;
            &:hover{
                background: $theme-color;
                color: $white;
            }

        }
    }
}
.blog__icon{
    margin-top: 45px;
    &:hover{
        color: $theme-color;
    }
}

// Blog-right Start Here






.search-widget{
    padding: 30px 25px;
    background: #fff;
    & h3{
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 25px;
        padding-bottom: 10px;
        position: relative;
        &::before{
            background: #cccccc none repeat scroll 0 0;
            bottom: -5px;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            width: 60px;
        }
    }
}

.search-box {
    & form {
        position: relative;
        padding-top: 10px;
        & input {
            padding: 20px;
            width: 100%;
            color: #ababab;
            border:1px solid #f5f5f5;
            &:-moz-placeholder, &::placeholder{
                color: #ababab;
                font-size: 14px;
            } 
        }
        & button{
            position: absolute;
            top: 1;
            right: 0;
            height: 70px;
            width: 70px;
            color:$white;
            background: $black;
            & i {
                font-size: 22px;
            }
            &:hover {
                color: $theme-color;
            }
        }
    }
}
.about-us-widget {
    padding: 30px 25px;
    background: #fff;
    & h3{
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 25px;
        padding-bottom: 10px;
        position: relative;
        &::before{
            background: #cccccc none repeat scroll 0 0;
            bottom: -5px;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            width: 60px;
        }
    }
}


// Blog-end Start Here