@use "../abstract" as *;

.slider__height{
    min-height: 950px;
    background-position: center center;
    background-size: cover;
        @media #{$laptop}{
            min-height: 767px;
        }
        @media #{$lg}{
            min-height: 667px;
        }
        @media #{$md}{
            min-height: 550px;
        }
       
}
.slider__content {
    & h5{
        color: $white;
        font-size: 20px;
        text-transform: uppercase;
    }
    & h1{
        font-size: 92px;
        color: $white;
        font-weight: 700;
        padding: 0 120px;
        @media #{$lg}{
            font-size: 60px;
            padding: 0px 50px;
        }
        @media #{$md}{
            font-size: 50px;
            padding: 0px 30px;
        }
        @media #{$sm}{
            font-size: 50px;
            padding: 0px 30px;
        }
        @media #{$xs}{
            font-size: 50px;
            padding: 0px 30px;
        }
    }
}
.slider__content-2{
    & h1 {
        padding: 0px;
        margin-bottom: 60px;
    }
}


.slider__navigation {
    top: 50%;
    left: 0;
    z-index: 55;
    button {
        font-size: 48px;
        color: #fff;
    }
}
.slider__button-next {
    position: absolute;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 55;
}

.slider__button-prev {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 55;
}
