@use "../abstract" as *;

.video-area{
  
}
.video{
    height: 763px;
    &__content{
       & h2{
        color: $white;
        font-size: 48px;
        font-weight: 600;
        padding-top: 270px;
        padding-right: 180px;
        padding-left: 180px;
       }
    }
    &__icon{
        & a{
            font-size: 25px;
            color: #000;
            height: 70px;
            width: 70px;
            text-align: center;
            line-height: 75px;
            background: #ffffff;
            display: inline-block;
            border-radius: 100%;
            margin-top: 30px;
            @include transition (0.3s);
            &:hover{
                background: $theme-color;
                color: $white;
            }
        }
    }
}
