// Solid Colors ---------------
$white: #ffffff;
$black: #333333;

// Grey Colors ---------------
$grey:#f6f6f6;
$hr-border-color:#eceff8;

// Footer Colors ---------------
$footer-bg: #000;




// basic color
$r-pink: #000;

$theme-color:#f26957; 

// Text Colors ---------------
$body-text: #666;



// Border Colors ---------------
$border:#000;

// Heading Colors ---------------
$heading-color: #222;

